.background {
  background-color: var(--background);
}

.backgroundAlternate {
  background-color: var(--background-alternate);
}

.backgroundOverlay {
  background-color: var(--background-overlay);
}

.divider {
  background-color: var(--divider);
}

.stroke {
  background-color: var(--stroke);
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.positive {
  background-color: var(--positive);
}

.negative {
  background-color: var(--negative);
}
